.search-box {
    border-radius: 21px;
    max-width: 360px;
    background-color: #F2F2F2;
    color: #5C5C5C;

}

#search-box-2 {

    border: none;

    background-color: #F2F2F2;
    color: #5C5C5C;

}



.create-account {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-account-text {
    color: #2E2E2E;
    font-weight: 700;
}

.create-account-text-2 {
    color: #2F6CE5;
    font-weight: 500;
}